@media screen {
.login-c {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: repeat;
    background-position: center;
    background-image: url('../assets/snow-bg.png');
}

.login-w {
    width: 60%;
    display: flex;
    height: 100px;
    border-radius:5px;
    flex-direction: column;
    border: 1px solid var(--primary-color);
}

.login-u {
    height: 100%;
    padding: 0 10px;
    border-radius: 5px 5px 0 0;
    background-color: var(--bg-color-light);
}

 input::placeholder {
    font-size: .7rem;
    text-align: center;
}

.login-btn {
    height: 100%;
    display: flex;
    font-size: .9rem;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    color: var(--bg-color-light);
    background-color: var(--primary-color);
}

.login-c span {
    padding: 4px;
    font-size: .8rem;
    color: rgb(209, 20, 20);
}

    
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

    .login-w {
        width: 30%;
        height: 20%;
    }

    input::placeholder {
        font-size: .9rem;
    }

    .login-btn {
        font-size: 1.2rem;
    }

}